<h1>home</h1>

<a asp-controller="Admin" asp-action="Index">admin</a>
<a asp-controller="Admin" asp-action="Administrator">Administrator</a>
<a asp-controller="Admin" asp-action="Manager">Manager</a>
<a asp-controller="Rec" asp-action="Index">REC</a>

<p>
    IsAuthenticated : @ViewBag.IsAuthenticated
</p>

<p>
    Name : @ViewBag.Name
</p>